<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/img/iconos/calculo.png" type="image/x-icon">
    <script src="/static/script.js"></script>
    <title>Dinero - CALCULA TU VIDA</title>
</head>

<body>

    <header>
        <img src="/static/img/matematico.png" alt="matematico">
        <div class="tit-prin">
            <h1>Calculando la <br>Vida</h1>
            <br>
            <div id="contadorUsuarios">Visitante N°: </div>
        </div>
        <a href="/static/contacto.html">
            <h3>Contactenos:</h3>
            <img src="/static/img/iconos/correo.png" alt="contacto">
        </a>
    </header>

    <hr>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/static/comidas.html">Comidas</a></li>
            <li><a href="/static/viajes.html">Viaje</a></li>
            <li><a href="/static/dinero.html">Dinero</a></li>
            <li><a href="/static/conversor.html">Conversor</a></li>
            <li><a href="/static/fechas.html">Fechas</a></li>
            <li><a href="/static/contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <hr>
    <h2 class="subtitulo">DINERO</h2>
    <div class="container-calculos">

        <h2><img src="/static/img/iconos/ahorro.png" alt="ahorro"> Ahorro eliminando un gasto por unidad</h2>
        <p>Calcula el gasto mensual y anual de algun objeto a seleccionar</p>
        <div class="seccion">
            <input type="text" id="nombreUnidad" placeholder="Nombre del gasto (ej: cigarro)">
            <input type="number" id="precioUnidad" placeholder="Precio por unidad ($)">
            <input type="number" id="cantidadMes" placeholder="Unidades por mes">
            <input type="number" id="cantidadMeses" placeholder="Cantidad de meses">
            <button onclick="calcularAhorroPorUnidad()">
                <img src="/static/img/iconos/ahorro2.png" alt="ahorro"> Calcular
            </button>
            <div id="resultadoAhorroUnidad" class="resultado"></div>
        </div>

        <h2><img src="/static/img/iconos/cuotas.png" alt="cuotas"> Planificador de cuotas</h2>
        <p>Calcula el interes de compra en cuotas mensuales</p>
        <div class="seccion">
            <input type="number" id="montoTotal" placeholder="Monto total ($)">
            <input type="number" id="cantidadCuotas" placeholder="Cantidad de cuotas">
            <input type="number" id="interesMensual" placeholder="Interés mensual (%)">
            <button onclick="calcularCuotas()">
                <img src="/static/img/iconos/calculadora.png" alt="calculadora"> Calcular
            </button>
            <div id="resultadoCuotas" class="resultado"></div>
        </div>

        <h2><img src="/static/img/iconos/servicios.png" alt="servicios"> Costo mensual de servicios públicos</h2>
        <p>Calcula el gasto mensual y anual de algun servicio</p>
        <div class="seccion">
            <input type="number" id="agua" placeholder="Costo de Agua ($)">
            <input type="number" id="luz" placeholder="Costo de Luz ($)">
            <input type="number" id="gas" placeholder="Costo de Gas ($)">
            <input type="number" id="internet" placeholder="Costo de Internet ($)">
            <button onclick="calcularServicios()">
                <img src="/static/img/iconos/calculadora.png" alt="calculadora"> Calcular
            </button>
            <div id="resultadoServicios" class="resultado"></div>
        </div>

        <div class="historial">
            <h2><img src="/static/img/iconos/reloj.png" alt="reloj">Historial de cálculos</h2>
            <div id="historial"></div>
            <button class="limpiar-btn" onclick="limpiarHistorial()">
                <img src="/static/img/iconos/basura.png" alt="basura">Limpiar historial
            </button>
        </div>
    </div>

    </div>


    <hr>
    <footer>
        © 2025 Fede
    </footer>

</body>

</html>